<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165015050592-9thsh42a449c1ptuuso158t83otchrtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165015050592-9thsh42a449c1ptuuso158t83otchrtv</string>
	<key>API_KEY</key>
	<string>AIzaSyByyxgjugqE8Dqu2iJsV6PLH_v3RMiEpkk</string>
	<key>GCM_SENDER_ID</key>
	<string>165015050592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.discovery.localartist</string>
	<key>PROJECT_ID</key>
	<string>local-artist-discovery</string>
	<key>STORAGE_BUCKET</key>
	<string>local-artist-discovery.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165015050592:ios:0f1ecc815d05e8fb5ae605</string>
</dict>
</plist>